<article class="recommendation" data-recommendation-id="<%=id%>">
  <div class="front">
    <%= content %>
    <footer>
      <p><%= why %></p>
      <a class="not_for_me" href="#">This isn’t for me</a>
    </footer>
  </div>
  <div class="back">
    <h1>
      <%= back_content %>
    </h1>
    <form class="not_for_me_feedback">
      <fieldset>
        <label for="reason">Let us know why?</label>
        <textarea name="reason"></textarea>
        <input type="submit" />
      </fieldset>
      <h2 class="feedback_thanks">
        Thanks for taking the time to give us some extra information!
      </h2>
    </form>
  </div>
</article>
