<article class="recommendation" data-recommendation-id="<%=id%>">
  <div class="front">
    <%= content %>
    <footer>
      <p><%= why %></p>
      <a class="not_for_me" href="#">This isn’t for me</a>
    </footer>
  </div>
  <div class="back">
    <h1>
      <%= back_content %>
    </h1>
  </div>
</article>
