<h2>Activities</h2>

<table>
  <thead>
    <tr>
      <th>Activity</th>
      <% @submissions.each do |submission | %>
        <th><%= submission.member.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <% @submissions.each do |submission| %>

            <% if submission.yes_activities.include?(activity) %>
            <td style="background-color: #91d8b4;"></td>
            <% else %>
            <td style="background-color: #d86363;"></td>
            <% end %>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<%= render 'admin/members/list', members: @members %>
