<h1><%= @member.name %></h1>

<hr />

<% @member.submissions.by_created.each_with_index do |submission, index| %>
  <table>
    <tbody>
      <tr>
        <td>Activities</td>
        <td>
          <ol>
            <%- submission.interests.by_position.each do |interest| %>
              <li>
                <%= interest.response_emoji %>&nbsp;<%=interest.activity.name%>
              </li>
            <% end %>
          </ol>
        </td>
      </tr>
      <tr>
        <td>Activity suggestion</td>
        <td><%= submission.activity_suggestion %></td>
      </tr>
    </tbody>
  </table>

<% end %>
