<%= intro my_name: 'Helen', avatar: 'helen.png' do %>
  <p>Hi Kathryn, I’ve had a go at finding some things for you to do near WF1. I’m interested to see what you think of my suggestions. If I’ve got something wrong or you want me to find something else then let me know. I hope these ideas help you get more out of your area.</p>
<% end %>
