<h1>What are you more concerned about?</h1>

<fieldset class="polar-choice">
  <h2>Choose:</h2>
  <div class="choice">
    <div>
      <input type="radio" name="polar" id="graffiti">
      <label for="graffiti">Graffiti
        <img src="<%= image_path 'graffiti.png' %>" alt="Graffiti">
      </label>
    </div>
    <div>
      <input type="radio" name="polar" id="nature">
      <label for="nature">Nature
        <img src="<%= image_path 'nature.png' %>" alt="Nature">
      </label>
    </div>
  </div>
</fieldset>

<a class="btn btn-primary" href="#">Next</a>
