<h1>What are you more concerned about?</h1>

<div id="pigs">

</div>

<fieldset class="polar-choice">
  <h2>Choose</h2>
  <label for="option-1"></label>
  <input type="radio" name="option-1">
  <label for="option-2"></label>
  <input type="radio" name="option-2">
</fieldset>
