<h1>Make something good happen in your neighbourhood</h1>

<p>
  Is there more to life than work, shopping and telly?<br />
  At Co-op, we think there is.
</p>

<p>
  Neighbourhoods are better when people play, learn and work together.
</p>

<p>
  Co-op will help you discover local opportunities to do the things you love - and if there aren’t any, help you get something going with people in your neighbourhood.
</p>

<h2>Live in Leeds? Sign up for early access</h2>

<form id="join-form-1" action="https://docs.google.com/forms/d/e/1FAIpQLSf9_COdZQmL8v5JuhkBOhk7dSRENeMNF-CMTv073OE69FXiaw/formResponse" method="post">
  <label for="name">Your name</label>
  <input id="name" type="text" name="entry.2140969632" value="" required><br />

  <label for="email">Your email address</label>
  <input id="email" type="email" name="entry.1642471887" value="" required><br />

  <label for="email">Your postcode</label>
  <input id="postcode" type="text" name="entry.1335307826" value="" required><br />

  <button class="btn btn-primary" type="submit">Sign up</button>
</form>

<hr />

<section class="feature play">
  <p>
    Imagine organising a fun run with your neighbours, or closing your road for street sports day.
  </p>
    <img src="<%= image_path 'play.svg' %>" alt="Play with your neighbours">
</section>

<section class="feature learn">
  <p>
    Could you help someone learn how to do a thing that comes easily to you? Or pick up a new skill - and make a new friend while you’re at it?
  </p>
    <img src="<%= image_path 'learn.svg' %>" alt="Learn with your neighbours">
</section>

<section class="feature work">
  <p>
    If your street came together to fix one thing in your area that’s bothering you, what would that be?
  </p>
  <img src="<%= image_path 'work.svg' %>" alt="Work with your neighbours">
</section>

<footer>
  <h2>Why Co-op?</h2>
  <p>
    Co-op has always stood for self-help and solidarity. It’s our job to find new ways to support people, so that they can build a better world - for themselves.
  </p>
</footer>
