<% content_for :body_class, "recommendations-page" %>
<article class="recommendation">
  <h1><span>Learn Italian with Ilva.</span> She'll teach you in exchange for helping her with English. Fantastico! 🇮🇹</h1>
  <section class="recommendation-details">
    <header>
      <img src="<%= image_path 'iiva.png' %>" alt="">
      <dl>
        <dt>Iiva, Leeds UK</dt>
        <dd>Contact her on <a href="#">mylanguageexchange.com</a></dd>
        <dd class="note">(Note: You'll need to register first)</dd>
      </dl>
    </header>
  </section>
  <footer>
    <p>You said you'd like to learn Italian</p>
    <a href="#">This isn't for me</a>
  </footer>
</article>
<article class="recommendation">
  <h1><span>Grow a garden at Appletree,</span> an outdoor community resource, where people of all ages and from all walks of life get together to grow.</h1>
  <section class="recommendation-details">
    <header>
      <img src="<%= image_path 'appletree.png' %>" alt="">
      <dl>
        <dt>Appletree Allotment and Community Garden</dt>
        <dd>Find out more: <a href="#">wakefield.gov.uk</a></dd>
      </dl>
    </header>
  </section>
  <footer>
    <p>You said you'd like to learn Italian</p>
    <a href="#">This isn't for me</a>
  </footer>
</article>
