<% content_for :body_class, "recommendations-page" %>
<article class="recommendation">
  <h1><span>Learn Italian with Ilva.</span> She’ll teach you in exchange for helping her with English. Fantastico! 🇮🇹</h1>
  <section class="recommendation-details">
    <header>
      <img src="<%= image_path 'iiva.png' %>" alt="">
      <dl>
        <dt>Iiva, Leeds UK</dt>
        <dd>Contact her on <a href="#">mylanguageexchange.com</a></dd>
        <dd class="note">(Note: You’ll need to register first)</dd>
      </dl>
    </header>
  </section>
  <footer>
    <p>You said you’d like to learn Italian</p>
    <a href="#">This isn’t for me</a>
  </footer>
</article>
<article class="recommendation">
  <h1><span>Grow a garden at Appletree,</span> an outdoor community resource, where people of all ages and from all walks of life get together to grow.</h1>
  <section class="recommendation-details">
    <header>
      <img src="<%= image_path 'appletree.png' %>" alt="">
      <dl>
        <dt>Appletree Allotment and Community Garden</dt>
        <dd>Find out more: <a href="#">wakefield.gov.uk</a></dd>
      </dl>
    </header>
    <div class="location-details">
      <div class="map">

      </div>
      <dl>
        <dt>Off Agbrigg Road, Wakefild, WF1 5AE</dt>
        <dd>12 minute drive <a href="#">Get directions</a></dd>
        <dd class="availability">Next open: Tomorrow 10am - 4pm</dd>
      </dl>
    </div>
  </section>
  <footer>
    <p>You said you’d like to grow a garden and plant a communal herb garden</p>
    <a href="#">This isn’t for me</a>
  </footer>
</article>
<article class="recommendation">
  <h1><span>How do you fancy bingo and fish ’n’ chips?</span> Join this group of people for good food and  good conversation.</h1>
  <section class="recommendation-details">
    <header>
      <div class="date">
        <span>9</span>
        <span>Jan</span>
      </div>
      <dl>
        <dt>Bingo with Fish & Chip Lunch</dt>
        <dd>Every second Tuesday of the month</dd>
        <dd>View on <a href="#">meetup.com</a></dd>
      </dl>
    </header>
    <div class="location-details">
      <div class="map">

      </div>
      <dl>
        <dt>Unity Court, 431 Meanwood Road, Leeds</dt>
        <dd>29 minute drive <a href="#">Get directions</a></dd>
        <dd class="availability">Next event: Tuesday 12:30pm</dd>
      </dl>
    </div>
  </section>
  <footer>
    <p>You said you’d like to meet new people and enjoy food together</p>
    <a href="#">This isn’t for me</a>
  </footer>
</article>
<article class="recommendation">
  <h1><span>Learn how to use social media.</span> Just sign up to this website and make a request.</h1>
  <section class="recommendation-details">
    <header>
      <dl>
        <dt>Visit this website:</dt>
        <dd><a href="#">learnsocialmedia.com</a></dd>
        <dd class="note">(Note: You’ll need to register first)</dd>
      </dl>
    </header>
  </section>
  <footer>
    <p>You said you’d like to learn social media</p>
    <a href="#">This isn’t for me</a>
  </footer>
</article>
<article class="recommendation">
  <h1><span class="bonus">Bonus suggestion:</span> I have found an Italian cooking course where you’ll get chance to meet new people and learn some new dishes.</h1>
  <p class="expanded-intro">
    It’s an extra <span class="info-warning">5 minutes further away than you said you’d be happy to drive</span>, but if you’re into all things Italian then this could be one not to miss!
  </p>
  <section class="recommendation-details">
    <header>
      <div class="date">
        <span>6</span>
        <span>Jun</span>
      </div>
      <dl>
        <dt>Italian Kitchen cooking course</dt>
        <dd>Cost: £150 for 4 evening classes</dd>
        <dd>Found out more: <a href="#">get-cooking.org.uk</a></dd>
      </dl>
    </header>
    <div class="location-details">
      <div class="map">

      </div>
      <dl>
        <dt>Gate 3, 43a Springfield Centre, Bagley lane, Farsley, Leeds</dt>
        <dd><span class="info-warning">32 minutes</span> <a href="#">Get directions</a></dd>
        <dd class="availability">Start date: Wednesday 6:30pm - 8:30</dd>
      </dl>
    </div>
  </section>
  <footer>
    <p>You said you’d like to meet new people and enjoy food together and learn Italian</p>
    <a href="#">This isn’t for me</a>
  </footer>
</article>
<article class="recommendation">
  <h1><span>Walk a neighbour's dog.</span> Just sign up to this website and make a request.</h1>
  <section class="recommendation-details">
    <header>
      <dl>
        <dt>Mary is looking for someone to walk her dog</dt>
        <dd><a href="#" class="btn btn-primary">Dog Walkies website</a></dd>
        <dd class="note">(Note: You’ll need to register first)</dd>
      </dl>
    </header>
  </section>
  <footer>
    <p>You said you’d like to walk a dog</p>
    <a href="#">This isn’t for me</a>
  </footer>
</article>
