<h1>
  All finished, and what's next
</h1>

<p>
  Now we know a bit more about you and what you'd like to do, we'll email you a list of things you could try in your neighbourhood.
</p>

<p>
  We might find that there are other people in your area who are interested in doing the same things as you. If this happens, we'll check with you first to see if you are interested in meeting up - it's up to you if you.
</p>

<p>
  In the meantime, here's are some ways to connect with your local area:
</p>

<ul>
  <li>
    <a href="https://nextdoor.co.uk/">Nextdoor</a> - a local social network
  </li>
  <li>
    <a href="https://www.ilovefreegle.org/">Freegle</a> - give away unwanted things or ask for things you need
  </li>
  <li>
    <a href="https://www.streetbank.com/?locale=en-GB">Streetbank</a> - share and borrow tools, gardening equipment and skills
  </li>
</ul>

<h2>
  Share
</h2>

<p>
  If you know someone else who'd like to do more locally, share this link with them: <a href="http://bit.ly/find-things-to-do">http://bit.ly/find-things-to-do</a>. They'll be able to add their details and get a personalised list of things to do of their own.
</p>
