<div class="cog">
  <img src="<%= image_path 'gear-icon.svg' %>" alt="We'll be in touch soon">
</div>

<h1>
  All finished, we'll be in touch soon
</h1>

<p>
  Now we know a bit more about you and what you'd like to do, we'll start looking for things you can get involved with in your neighbourhood. In a week or so, we'll email you a list of things you could try.
</p>

<p>
  We might find that there are other people in your area who are interested in doing the same things as you. If this happens, we'll check with you first to see if you are interested in meeting up - it's up to you.
</p>

<hr />

<h2>
  Get something going in your neighbourhood
</h2>

<p>
  Neighbourhoods are better when more people join in. If you know someone in Leeds who wants to do more locally, share this link with them: <a href="http://bit.ly/get-involved-in-leeds">http://bit.ly/get-involved-in-leeds</a>. They'll be able to sign up for early access and also get a personalised list of things to do.
</p>
