/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'coop-toolkit/coop-toolkit';

$base-cadillac: #9f4d73;
$base-meteorite: #4B2574;
$base-biscay: #1c3b6b;
$base-kashmir: #406A91;
$base-surfie: #117e80;
$base-thumb: #2E4834;
$base-oregon: #9e3705;
$base-tan: #610F1A;

input, select {
  &[type="submit"]  {
    width: auto;
    margin: 1rem 0;
    display: block;
  }

  &#submission_distance {
    max-width: 4rem;
  }

  &#submission_distance,
  &#submission_distance_mode {
    display: inline;
    width: auto;
  }
}

fieldset {
  &.thumbs-up-down {
    input {
      display: none;
    }
    > p {
      font-family:"AvenirNextLTW01-Medium";
      font-size: 1.2rem;
    }
    div {
      &.statement {
        p {
          font-family:"AvenirNextLTW01-Medium";
          color: $white;
          background: $base-biscay;
          padding: 1rem 1.8rem 1.8rem 1.8rem;
          border-radius: 0.4rem;

          font-size: 1.6rem;
          line-height: 1.4;

          @media (min-height: 600px) {
            font-size: 2.4rem;
            line-height: 1.6;
          }

          @media (max-width: 720px) {
            position: fixed;
            top: 9rem;
            bottom: 9rem;
            left: 16px;
            right: 1rem;
          }
        }
        &.statement-color-1 {
          p {
            background: $base-cadillac;
          }
        }
        &.statement-color-2 {
          p {
            background: $base-meteorite;
          }
        }
        &.statement-color-3 {
          p {
            background: $base-biscay;
          }
        }
        &.statement-color-4 {
          p {
            background: $base-kashmir;
          }
        }
        &.statement-color-5 {
          p {
            background: $base-surfie;
          }
        }
        &.statement-color-6 {
          p {
            background: $base-thumb;
          }
        }
        &.statement-color-7 {
          p {
            background: $base-oregon;
          }
        }
        &.statement-color-8 {
          p {
            background: $base-tan;
          }
        }
      }
      &.thumbs-up-down-choice {
        @media (max-width: 720px) {
          position: fixed;
          bottom: 2rem;
          right: 1rem;
        }
        label {
          font-size: 2rem;
          background: $offwhite;
          border-radius: 0.4rem;
          padding: 1rem 2rem;
          text-align: center;
          display: inline-block;
          cursor: pointer;
          border: 2px solid $offwhite;
          &:hover {
            border: 2px solid $coop-grey;
          }
          &:first-of-type {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

input.thumbs-next {
  @media (max-width: 720px) {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
  }
}
