/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'coop-toolkit/coop-toolkit';

$base-cadillac: #9f4d73;
$base-meteorite: #4B2574;
$base-biscay: #1c3b6b;
$base-kashmir: #406A91;
$base-surfie: #117e80;
$base-thumb: #2E4834;
$base-oregon: #9e3705;
$base-tan: #610F1A;

section {
  &.cta {
    position: relative;
    border-radius: 0.2rem;
    background: $offwhite;
    padding: 2rem;
    margin: 2rem 0;
    @media (min-width: 960px) {
      width: calc(100vw - 64px);
      padding: 8rem 2rem;
      margin: 4rem 0;
    }
    img {
      position: absolute;
      z-index: 0;
      left: 0;
      right: 0;
      top: 0;
    }
    form {
      position: relative;
      z-index: 2;
      border-radius: 0.4rem;
      padding: 2rem;
      background: $white;
      max-width: 420px;
      h2 {
        margin-bottom: 2rem;
      }
    }
  }
  &.feature {
    margin: 2rem 0;
    padding: 2rem 0;
    border-bottom: 1px solid $offwhite;
    img {
      width: 100%;
    }
  }
}

input, select {
  &[type="submit"]  {
    width: auto;
    margin: 1rem 0;
    display: block;
  }

  &#submission_distance {
    max-width: 4rem;
  }

  &#submission_distance,
  &#submission_distance_mode {
    display: inline;
    width: auto;
  }
}

label[for='submission_involvement'],
label[for='suggestion'],
label[for='name'],
label[for='email'],
label[for='postcode'],
label[for='reason'] {
  @media (max-width: 720px) {
    font-size: 1.2rem;
  }
}

p.begin-statement {
  font-family:"AvenirNextLTW01-Medium";
  font-size: 1.2rem;
}

p.end-statement {
  font-family:"AvenirNextLTW01-Medium";
  font-size: 1.2rem;
  line-height: 1.4;
}

fieldset {
  &.thumbs-up-down {
    input {
      display: none;
    }
    div {
      &.statement {
        p {
          font-family:"AvenirNextLTW01-Medium";
          color: $white;
          background: $base-biscay;
          padding: 1rem 1.8rem 1.4rem 1.8rem;
          border-radius: 0.4rem;

          font-size: 1.6rem;
          line-height: 1.4;

          @media (min-height: 600px) {
            font-size: 3rem;
            line-height: 1.4;
          }

          @media (min-height: 601px) and (max-width: 680px) {
            font-size: 5vh;
          }
        }
        &.statement-color-1 {
          p {
            background: $base-cadillac;
          }
        }
        &.statement-color-2 {
          p {
            background: $base-meteorite;
          }
        }
        &.statement-color-3 {
          p {
            background: $base-biscay;
          }
        }
        &.statement-color-4 {
          p {
            background: $base-kashmir;
          }
        }
        &.statement-color-5 {
          p {
            background: $base-surfie;
          }
        }
        &.statement-color-6 {
          p {
            background: $base-thumb;
          }
        }
        &.statement-color-7 {
          p {
            background: $base-oregon;
          }
        }
        &.statement-color-8 {
          p {
            background: $base-tan;
          }
        }
      }
      &.thumbs-up-down-choice {
        display: inline-block;

        @media (max-height: 549px) {
          margin-top: 1rem;
          width: 100%;
        }

        @media (min-height: 550px) and (max-width: 720px) {
          position: fixed;
          bottom: 1rem;
          left: 1rem;
          right: 1rem;
        }

        @media (max-width: 720px) {
          display: inline-flex;
          justify-content: space-between;
        }

        @media (min-width: 720px) {
          margin-top: 2rem;
        }

        label {
          font-size: 2rem;
          background: $offwhite;
          border-radius: 0.4rem;
          padding: 1rem 2rem;
          text-align: center;
          display: inline-block;
          cursor: pointer;
          border: 2px solid $offwhite;

          @media (max-width: 720px) {
            width: calc(50% - 0.5rem);
          }
          &:hover {
            border: 2px solid $coop-grey;
          }
          &:active {
            background: $coop-grey;
          }
          &:first-of-type {
            @media (min-width: 721px) {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
}

.cog {
  width: 40%;
  margin: 1em auto;
}

body.activities {
  footer {
    display: none;
  }
}

.submissions {
  a {
    padding: 5px;
    color: white;
    border-color: white;
  }
  &.finished a{
    background-color: $success-green;
  }
  &.partial a{
    background-color: $info-orange;
  }
  &.none a{
    background-color: $saleerror-red;
  }
}

/// Recommendations
@keyframes yellowfade {
  from {
    background: $added-to-page;
  }
  to {
    background: $white;
  }
}

body.recommendations-page {

  .central-layout {
    max-width: 480px;
    @media (min-width: 750px) {
      margin: 0 auto 1rem auto;
      max-width: 520px;
    }
  }

  .back {
    display: none;
    .not_for_me_feedback, .feedback_thanks{
      display: none;
    }
  }

  section {
    &.recommendation-page-intro {
      @extend .central-layout;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      img {
        width: 72px;
        height: 72px;
        border-radius: 100%;
      }
      div {
        padding-left: 1rem;
        p {
          font-family:"AvenirNextLTW01-Medium";
          font-size: 1.2rem;
          line-height: 1.4;
          @media (min-width: 720px) {
            font-size: 1.8rem;
          }
        }
        span {

        }
      }
    }
  }

  .content-wrapper > header {
    a.coop-logo, a.coop-logo-large {
      @media (min-width: 750px) {
        margin: 0 auto;
        float: none;
      }
    }
  }

  iframe {
    height: 100%;
    width: 100%;
  }

  .large-7 {
    width: 100%;
  }

  .helper-text {
    font-size: 0.8rem;
    line-height: 1.6;
    color: $coop-grey;
  }

  .info-warning {
    font-family:"AvenirNextLTW01-Medium";
    color: $info-orange;
  }

  .btn {
    margin: 1rem 0 0.4rem;
  }

  .availability {
    font-family:"AvenirNextLTW01-Medium";
    color: $button-green;
  }

  p, ol li, ul li {
    font-size: 0.8rem;
    @media (min-width: 750px) {
      font-size: 1rem;
    }
  }

  background: $offwhite;
  header {
    border-bottom: none;
  }
  article.recommendation {
    background: $white;
    padding: 1rem;
    margin-bottom: 1rem;
    padding: 2rem 2rem 1rem 2rem;
    @extend .central-layout;
    &.item-highlight {
      animation: yellowfade 1s;
    }
    h1 {
      font-size: 1rem;
      font-family:"AvenirNextLTW01-Medium";
      @media (min-width: 750px) {
        font-size: 1.4rem;
      }
      span {
        font-family: 'AvenirNextLTW01-Demi';
        &.bonus {
          color: $button-green;
        }
      }
    }
    h2 {
      font-size: 1rem;
      font-family:"AvenirNextLTW01-Medium";
      @media (min-width: 750px) {
        font-size: 1.2rem;
      }
    }
    p.expanded-intro {
      margin-bottom: 1.8rem;
      @media (min-width: 750px) {
        margin-bottom: 2.8rem;
      }
    }
    .other-people {
      margin-top: 2rem;
    }
    section {
      &.recommendation-details {
        header {
          display: flex;
          justify-content: space-between;
          font-size: 0.8rem;
          margin-bottom: 1rem;
          img, .date {
            width: 48px;
            height: 48px;
          }
          img {
            border-radius: 100%;
          }
          .date {
            background: $base-meteorite;
            border-radius: 0.2rem;
            position: relative;
            span {
              color: $white;
              width: 100%;
              display: inline-block;
              text-align: center;
              &:nth-of-type(1) {
                font-family: 'AvenirNextLTW01-Demi';
                font-size: 1.2rem;
                position: absolute;
                top: 0;
                height: 26px;
                line-height: 1.8;
              }
              &:nth-of-type(2) {
                text-transform: uppercase;
                font-size: 0.6rem;
                letter-spacing: 1px;
                position: absolute;
                bottom : 0;
                height: 22px;
                line-height: 1.6;
              }
            }
          }
          dl {
            margin: 0;
            padding: 0;
            width: calc(100% - (48px + 1rem));
            dt, dd {
              margin: 0;
              line-height: 1.6;
            }
            dt {
              font-size: 1rem;
              line-height: 1.4;
              font-family:"AvenirNextLTW01-Medium";
            }
          }
        }
        ul.yes-no {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            display: inline;
            margin-right: 1em;
          }
          margin-bottom: 1em;
        }
        div.location-details {
          border-radius: 0.4rem;
          border: 1px solid $offwhite;
          margin-bottom: 1rem;
          overflow: hidden;
          div.map {
            width: 100%;
            font-size: 0;
          }
          dl {
            font-size: 0.8rem;
            padding: 0 1rem;
            dt, dd {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
    section.call-to-action {
      margin: 2rem 0 0 1.6rem;
      padding: 0 0 0 2rem;
      border-left: 0.4rem solid $coop-grey;
      div.action {
        margin-bottom: 1rem;
        h2 {
          margin: 0;
        }
      }
    }
    footer {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      padding: 0.8rem 0 0 0;
      border-top: $light-grey 1px solid;
      p, a {
        @extend .helper-text;
        padding: 0;
        margin: 0;
      }
      p {
        width: 50%;
      }
      a {
        border-bottom-color: $mid-grey;
        align-self: flex-start;
      }
    }
  }
  p.copyright {
    text-align: center;
  }
}

p.copyright {
  font-size: 0.8rem;
}
