/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'coop-toolkit/coop-toolkit';

$base-cadillac: #9f4d73;
$base-meteorite: #4B2574;
$base-biscay: #1c3b6b;
$base-kashmir: #406A91;
$base-surfie: #117e80;
$base-thumb: #2E4834;
$base-oregon: #9e3705;
$base-tan: #610F1A;

input, select {
  &[type="submit"]  {
    width: auto;
    margin: 1rem 0;
    display: block;
  }

  &#submission_distance {
    max-width: 2.8rem;
  }

  &#submission_distance,
  &#submission_distance_mode {
    display: inline;
    width: auto;
  }
}

fieldset {
  &.thumbs-up-down {
    input {
      display: none;
    }
    div {
      &.statement {
        p {
          font-family:"AvenirNextLTW01-Medium";
          font-size: 1.8rem;
          color: $white;
          background: $base-biscay;
          padding: 1.4rem 1.4rem 1.8rem 1.4rem;
          border-radius: 0.4rem;
        }
      }
    }
  }
}
