<h1>[TODO: ACTIVITY SUGGESTION]</h1>

<% if @ups >= @required_activities %>
  <p>[TODO: COPY FOR WHERE THEY SELECTED ENOUGH]</p>
<% elsif @ups > 0 %>
  <p>[TODO: COPY FOR WHERE THEY SELECTED SOME BUT NOT ENOUGH]</p>
<% else %>
  <p>[TODO: COPY FOR WHERE THEY SELECTED NONE]</p>
<% end %>

<%= form_tag submission_activities_path(@submission) do |f| %>
  <%= label_tag :suggestion, '[TODO: ENTER YOUR SUGGESTION BELOW]' %>
  <%= text_area_tag :suggestion %>
  <%= submit_tag 'Next', class: 'btn btn-primary' %>
<% end %>
