
<%= form_tag submission_activities_path(@submission) do |f| %>

  <h1>What factors do you think make something 'cooperative'?</h1>
  <%= text_area_tag :suggestion %>
  <%= submit_tag 'Next', class: 'btn btn-primary' %>
<% end %>
