<h1>What do we mean by co&dash;operation?</h1>

<p>
  We've been talking about <strong>increasing co-operation in communities</strong>, but in our meetings and conversations it becomes clear we have different ideas of what this means.
</p>

<p>
  Have a go at selecting if you think something is co-opearting or not, and let's see where we have agreement or disagreement.
</p>

<%= form_for @member do |f| %>
  <h1>What's your name?</h1>
  <%= f.text_field :name %>
  <%= f.submit 'Get started', class: 'btn btn-primary' %>
<% end %>
