<h1>Make something good happen in your neighbourhood</h1>

<p>
  Is there more to life than work, shopping and telly? At Co-op, we think there is.
</p>

<p>
  Neighbourhoods are better when people play, learn and work together.
</p>

<p>
  Discover local opportunities to do the things you love - and if there aren’t any, get help to get something going with people in your neighbourhood.
</p>

<p>
  Ready to make something good?
</p>

<%= button_to 'Get started', submissions_path(member_id: @member.uuid), class: 'btn btn-primary'%>

<section class="feature play">
  <p>
    Imagine organising a fun run with your neighbours, or closing your road for street sports day.
  </p>
  <img src="<%= image_path 'play.svg' %>" alt="">
</section>

<section class="feature learn">
  <p>
    Could you help someone learn how to do a thing that comes easily to you? Or pick up a new skill - and make a new friend while you’re at it?
  </p>
</section>

<section class="feature work">
  <p>
    If your street came together to fix one thing in your area that’s bothering you, what would that be?
  </p>
  <img src="<%= image_path 'work.svg' %>" alt="">
</section>

<footer>
  <h2>Why Co-op?</h2>
  <p>
    Co-op has always stood for self-help and solidarity. It’s our job to find new ways to support people, so that they can build a better world - for themselves.
  </p>
</footer>
