<h1>Spotlight</h1>

<p>
  A lot of us would like to get more involved with our neighbourhoods, but it’s not always easy to know where to start.
</p>

<p>
  Rediscover your area with Co-op Spotlight - get tailored suggestions about different things to try near you.
</p>
<%= button_to 'Get started', submissions_path(member_id: @member.uuid), class: 'btn btn-primary'%>
