<h1>Spotlight</h1>

<p>A way to discover new stuff you can do in your community with other people.</p>

<%= button_to 'Get started', submissions_path(member_id: @member.uuid), class: 'btn btn-primary'%>
